<div>

<h1>Portfolio Items</h1>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>

<h1>Things to include here</h1>
<ul>
  <li>Features I've built</li>
  <li>User behaviour auditing for a social admin tool</li>
  <li>LHM for app with millions of users</li>
  <li></li>
</ul>



</div>
