/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Exo+2');

h1, h2, h3, h4, h5, p, a { font-family: 'Exo 2', sans-serif; }

a, a:visited {color: #bada55; text-decoration: none;}

a li { }

.container {display: grid | inline-grid;
            grid-template:
              [row1-start] "header header header" 25px [row1-end]
              [row2-start] "footer footer footer" 25px [row2-end]
              / auto 50px auto;
          }

.main {margin: 0 auto; max-width: 60%; padding: 50px; }

.nav { grid-column-start: 3 }
